@font-face {
    font-family: prova1;
    src: url('/font/Drawliner.otf');
}
@font-face {
    font-family: prova2;
    src: url('/font/Howdy\ Frog.ttf');
}
@font-face {
    font-family: prova3;
    src: url('/font/MagazineLetterByBrntlbrnl-Regular.ttf');
}

@font-face {
    font-family: prova4;
    src: url('/font/Mf\ Love\ Song.ttf');
}

body{
    background: url('/images/15930810-padrao-de-coracao-vermelho-isolado-no-fundo-branco-simbolo-do-amante-dia-dos-namorados-e-arte-amor-papel-de-parede-conceito-gratis-foto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    flex-direction: column;
}

.central{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgb(255, 1, 1);
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    background: rgba(2, 2, 2, 0.664);
    width: 800px;
    height: 650px;
}

.central .botoes button{
    background-color: rgba(248, 0, 0, 0.473);
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: prova2;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: bolder;
    transition: 0.8s;
}

.central .botoes button:hover{
    transform: scale(0.8);
}

#imgtrocar{
    width: 300px;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgb(211, 208, 208);
}

.central p{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(154, 152, 160, 0);
    color: rgb(255, 255, 255);
    border-radius: 15px;

}

.conteudo {
    display: flex;
    align-items: center;
    gap: 20px;
}

#txt {
    max-width: 600px;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(211, 208, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#txt p {
    margin-bottom: 20px;
}

video {
    width: 320px;
    height: 240px;
    border-radius: 10px;
    display: none;
}